In [1]:
import pandas as pd
mfile = 'QDEX_metada_export.xlsx'
efile = '../textracting/20reportseval.xlsx'

In [8]:
mdf = pd.read_excel(mfile)
edf = pd.read_excel(efile)

In [9]:
mdf

,REPNO,RTITLE,RTYPE,RSTATUS,AUTHOR,LODGER,SUBMITBY,LOCALITY,MAPREF,TENURE,REPDATE,RECDATE
0,1,"A-P 55-56P, PPP 11, AAO (ROMA) 2, AAO (ROMA) 3...",WELCOM,O,"PATEN, R J, MOTT, W D",NaN,ASSOCIATED AUSTRALIAN OILFIELDS NL AND MINES A...,ORALLO AREA,8645,"EPP 55, EPP 56, PPP 11",31/DEC/89,29/JUN/05
1,2,"PPP 679, AAO (HOSPITAL HILL) 4, WELL COMPLETIO...",WELCOM,O,"DERRINGTON, S, MOTT, W D",NaN,ASSOCIATED AUSTRALIAN OIL FIELDS NL,ROMA AREA,8644,"EPP 55, PPP 11",01/AUG/55,29/JUN/05
2,3,"PPP 679, AAO (HOSPITAL HILL) 5, WELL COMPLETIO...",WELCOM,O,"DERRINGTON, S S, HAMMETT, P H J",NaN,ASSOCIATED AUSTRALIAN OIL FIELDS NL,ROMA AREA,8644,"EPP 55, PPP 11",01/AUG/55,22/SEP/03
3,4,"PPP 679, AAO (HOSPITAL HILL) 6, WELL COMPLETIO...",WELCOM,O,"DERRINGTON, S S, HAMMETT, P H J",NaN,ASSOCIATED AUSTRALIAN OIL FIELDS NL,ROMA AREA,8644,"EPP 55, PPP 11",01/AUG/55,04/JUL/05
4,5,OIL POTENTIALITIES OF PETROLEUM PROSPECTING PE...,PETFLD,O,"STURMFELS, E K",NaN,MURILLA OIL LTD,WNW OF MILES,8944,PPP 12,01/DEC/54,17/NOV/06
...,...,...,...,...,...,...,...,...,...,...,...,...
100619,115306,"PL 404, OER REEDY CREEK 280, WELL COMPLETION R...",WELCOM,C,"PARMITER, S",SIMON PARMITER,ORIGIN ENERGY,30 KM N OF YULEBA,8845,PL 404,06/NOV/19,06/NOV/19
100620,115307,"PL 1021, SCS RM68-86 1, WELL COMPLETION REPORT",WELCOM,C,"PAUWELS, G",JOHN MCCORMACK,SANTOS LIMITED,MUGGLETON AREA,8745,PL 1021,06/NOV/19,06/NOV/19
100621,71,PROGRESS REPORTS 76 5 SQUARE MILES MT ISA JUL...,ANNUAL,O,"CARTER, S R, MURRAY, W",NaN,MOUNT ISA MINES LIMITED,"MT ISA, MARY KATHLEEN AREA","6756, 6856",EPP,01/JUL/50,14/DEC/05
100622,70,PRELIMINARY REPORT ON THE KIDSTON GOLDFIELD NO...,ANNUAL,O,"KRUTTSCHNITT, J, BLANCHARD, R",NaN,ANGLO QUEENSLAND MINING PTY LTD,SW OF MOUNT SURPRISE,"7660, 7760, 7761",EPP,01/APR/35,05/NOV/04
100623,115310,"PL 281, BRO RM40-152 1, WELL COMPLETION REPORT",WELCOM,C,"PAUWELS, G",JOHN MCCORMACK,SANTOS LIMITED,YULEBA AREA,8744,PL 281,06/NOV/19,06/NOV/19

In [10]:
edf

,REPNO,REPDATE,Commodity,RTYPE,MAPREF,TENURE,Hole,Historical or original (to tenure)?,In tables?,Has location in tables?,Detected in tables? V1,Detected location in tables? V1,BH detected V2,Loc detected v2,BHdetected v3,Loc detected v3,Unnamed: 16
0,167,1957.0,NaN,WELL COMPLETION REPORT,7272,EPP 42,Z.C.L. No 1 Weipa,NaN,1.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN
1,504,1960.0,NaN,WELL REPORT OTHER,"SG5512, 8644",EPP 55,A.A.O. Timbury Hills No.2,NaN,1.000000,1.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN
2,909,1962.0,NaN,WELL COMPLETION REPORT,8942,EPP 57,Union-Kern-A.O.G Cabawin No. 1,NaN,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN
3,909,1962.0,NaN,WELL COMPLETION REPORT,8942,EPP 57,Union-Kern-A.O.G. Cabawin East No. 1,NaN,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN
4,909,1962.0,NaN,WELL COMPLETION REPORT,8942,EPP 57,Union-Kern-A.O.G. Moonie No. 1,NaN,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.000000,40.000000,0.0,0.0,7.500000,5.500000,NaN,NaN,NaN
157,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.403846,0.384615,0.0,0.0,0.072115,0.052885,NaN,NaN,NaN
158,Percent change from last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,7.211538,5.288462,NaN,NaN,NaN

In [12]:
#edf.loc[edf['REPNO'] == mdf['REPNO']]

mergedStuff = pd.merge(edf, mdf, on=['REPNO'], how='inner')
mergedStuff.head()

,REPNO,REPDATE_x,Commodity,RTYPE_x,MAPREF_x,TENURE_x,Hole,Historical or original (to tenure)?,In tables?,Has location in tables?,...,RTYPE_y,RSTATUS,AUTHOR,LODGER,SUBMITBY,LOCALITY,MAPREF_y,TENURE_y,REPDATE_y,RECDATE
0,167,1957.0,NaN,WELL COMPLETION REPORT,7272,EPP 42,Z.C.L. No 1 Weipa,NaN,1.0,0.0,...,WELCOM,O,"POWER, P E, LINDME, W N",NaN,ENTERPRISE EXPLORATION CO PTY LTD,WEIPA AREA,7272,EPP 46,01/NOV/57,01/JUL/05
1,504,1960.0,NaN,WELL REPORT OTHER,"SG5512, 8644",EPP 55,A.A.O. Timbury Hills No.2,NaN,1.0,1.0,...,WELOTH,O,DERRINGTON S S,NaN,MINES ADMIN PTY LTD,NE OF ROMA,"SG5512, 8644",EPP 55,01/MAY/60,14/SEP/05
2,909,1962.0,NaN,WELL COMPLETION REPORT,8942,EPP 57,Union-Kern-A.O.G Cabawin No. 1,NaN,0.0,0.0,...,WELCOM,O,"TURK, J N, PYLE, D E",NaN,UNION OIL DEVELOPMENT CORP,MOONIE AREA,8942,EPP 57,01/APR/62,02/JUN/03
3,909,1962.0,NaN,WELL COMPLETION REPORT,8942,EPP 57,Union-Kern-A.O.G. Cabawin East No. 1,NaN,0.0,0.0,...,WELCOM,O,"TURK, J N, PYLE, D E",NaN,UNION OIL DEVELOPMENT CORP,MOONIE AREA,8942,EPP 57,01/APR/62,02/JUN/03
4,909,1962.0,NaN,WELL COMPLETION REPORT,8942,EPP 57,Union-Kern-A.O.G. Moonie No. 1,NaN,0.0,0.0,...,WELCOM,O,"TURK, J N, PYLE, D E",NaN,UNION OIL DEVELOPMENT CORP,MOONIE AREA,8942,EPP 57,01/APR/62,02/JUN/03

In [13]:
df = mergedStuff.drop(columns=['REPDATE_x', 'RTYPE_x', 'MAPREF_x', 'TENURE_x', 'AUTHOR', 'LODGER', 'LOCALITY', 'RECDATE', 'RSTATUS'])

In [14]:
df

,REPNO,Commodity,Hole,Historical or original (to tenure)?,In tables?,Has location in tables?,Detected in tables? V1,Detected location in tables? V1,BH detected V2,Loc detected v2,BHdetected v3,Loc detected v3,Unnamed: 16,RTITLE,RTYPE_y,RSTATUS,SUBMITBY,MAPREF_y,TENURE_y,REPDATE_y
0,167,NaN,Z.C.L. No 1 Weipa,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,"A-P 46P, ZCL (WEIPA) 1, WELL COMPLETION REPORT",WELCOM,O,ENTERPRISE EXPLORATION CO PTY LTD,7272,EPP 46,01/NOV/57
1,504,NaN,A.A.O. Timbury Hills No.2,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,"A-P 55P, AAO TIMBURY HILLS 2, INTERIM WELL REP...",WELOTH,O,MINES ADMIN PTY LTD,"SG5512, 8644",EPP 55,01/MAY/60
2,909,NaN,Union-Kern-A.O.G Cabawin No. 1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,"A-P 57P, UOD MOONIE 1, WELL COMPLETION REPORT",WELCOM,O,UNION OIL DEVELOPMENT CORP,8942,EPP 57,01/APR/62
3,909,NaN,Union-Kern-A.O.G. Cabawin East No. 1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,"A-P 57P, UOD MOONIE 1, WELL COMPLETION REPORT",WELCOM,O,UNION OIL DEVELOPMENT CORP,8942,EPP 57,01/APR/62
4,909,NaN,Union-Kern-A.O.G. Moonie No. 1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,"A-P 57P, UOD MOONIE 1, WELL COMPLETION REPORT",WELCOM,O,UNION OIL DEVELOPMENT CORP,8942,EPP 57,01/APR/62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144,21622,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"A-P 4603M, TREGOORA, COMBINED PARTIAL RELINQUI...",RELINQ,O,BHP MINERALS LIMITED,"7764, 7765, 7864, 7865",EPM 4603,01/FEB/90
145,54924,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"EPM 14473, RANGEVIEW 2, FINAL REPORT FOR PERIO...",FINAL,O,BHP BILLITON NICKEL WEST,7155,EPM 14473,12/FEB/09
146,93557,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"EPM 17424, CORELLA, PARTIAL RELINQUISHMENT REP...",RELINQ,O,CHINOVA RESOURCES PTY LTD,"6954, 6955",EPM 17424,15/SEP/15
147,103455,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"EPM 17225, WESTONIA 3, PARTIAL RELINQUISHMENT ...",RELINQ,O,UTM GLOBAL PTY LTD,"6758, 6858",EPM 17225,21/DEC/15
148,104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REPORT ON REDCAP,ANNUAL,O,BROKEN HILL SOUTH LIMITED,"7763, 7863",N.A.,01/JAN/53

In [16]:
df.to_csv('test.csv', index=False)